.carousel-item img {
    width: 100%;             
    height: 820px;           
    object-fit: cover;      
    display: block;
  }


  .mi-img {
    width: 100%;
    height: 850px; 
    object-fit: cover;
  }
